- if post.id.nil?
  %h2 Create new post
%form{action: url, method: 'post', name: 'edit'}
  %fieldset
    %label{for: 'title'} Title
    %input#title.span5{name: 'title', placeholder: 'Enter title for new post', type: 'text', value: post.title}/
    - unless post.id.nil?
      .control-group.error
        .controls
          %label.checkbox.inline
            %input#change_slug{name: 'change_slug', type: 'checkbox', value: 'true'}/
            %span.help-inline If you want to change this blog's url to some to title, just check it.
    %label{for: 'tags'} Tags
    %input#tags.span3{name: 'tags', placeholder: 'Tags', type: 'text', value: post.tags}/
    %span.text-info Split by space
    %label{for: 'content'} Content
    %textarea#content.input-block-level{name: 'content', placeholder: 'Content', rows: '12'}= post.content
    - if post.created_at
      %span.help-block<
        %strong Created at:&nbsp;
        =l post.created_at, :standard
    %label{for: 'format'} Format
    %select{name: 'format'}
      %option{value: 'markdown', selected: post.format == 'markdown'} Markdown
      %option{value: 'textile',  selected: post.format == 'textile'} Textile
      %option{value: 'txt',      selected: post.format == 'txt'    } Plain Text
    - if post.created_at
      %label
        %strong Hide?
      .control-group.error
        .controls
          %label.checkbox.inline
            - # TODO: Add complete delete logic
            - # add "Delete" button and 'delete' method
            %input#delete_status{type: 'checkbox', name: 'delete_status', value: 'true', checked: post.delete?}
            %span.help-inline Mark post as hidden
    .form-actions
    - unless post.id.nil?
      %button.btn.btn-primary{type: 'submit'} Save
      %a.btn{href: post.url} Back
      - # TODO: Add client/server logic
      -# - if post.delete?
      -#   %button.btn{type: 'button'} Unhide
      -# - else
      -#   %button.btn{type: 'button'} Hide
    - else
      %button.btn.btn-primary{type: 'submit'} Create
      %button.btn{type: 'reset'} Reset
