!!!
%html{ lang: "en" }
  %head
    - if settings.development?
      / I'm layout.haml
      / Remove this after Haml replace ERB
    %meta{ charset: "utf-8" }/
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "content-type" }/

    %title= Blog.title
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]

    %link{ href: "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css", rel: "stylesheet" }/
    %link{ href: "/customize.css", rel: "stylesheet", type: "text/css" }/

  %body
    = haml :"partial/navbar"
    .container
      .content
        = yield
      %hr/
    = haml :"partial/footer"
  %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}