scanty:
  url_base: http://localhost:4567/
  admin_password: change me
  admin_cookie_key: scanty_admin
  admin_cookie_value: 51d6d976913ace58
# for sqlite leave unchanged
# for mysql sequel uri requires this all
#   db:
#     adapter: mysql
#     database: lsb_scanty
#     username: root
#     password: root
#     host: localhost
  disqus_shortname:
  google_analytics_id: GA-1234567-1
