scanty:
  title: a scanty blog
  header: a very light sinatra blog
  url_base: http://localhost:4567/
  admin_password: change me
  admin_cookie_key: scanty_admin
  admin_cookie_value: 51d6d976913ace58
  disqus_shortname:
  friends:
       - url: http://www.friend.com
         text: friend
       - url: http://www.another-friend.com
         text: another friend
