#footer
  .container
    %p.muted.credit
      Content by #{Blog.author}&nbsp;|&nbsp;Design adapted from
      -# TODO: Change!
      %a{ href: "http://twitter.github.com/bootstrap/" } Bootstrap
    %p.muted.credit
      Powered by 
      %a{ href: "http://github.com/qatsi/tintintin" } Tintintin