.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.brand{ href: "/" } Blog
      %p.navbar-text.pull-right
        - if admin?
          %a{ href: "/posts/new" }<>= t.post.new
          &nbsp;|&nbsp;
          %a{ href: "/logout" }>= t.auth.logout
        - else
          %a{ href: "/auth" }= t.auth.login